# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
* Learn diferent types and categories of tools that data scientis use
* Learn about different libraries used in data science
* Learn the basic use of Jupyter Notebooks and Jupyter Labs
* Learn the basic use of R and R Studio
* Create a Jupyter Notebook

Some of the popular languages that Data Scientis use are:

1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientist include:
1. matplotlib (Python)
2. ggplot (R)
3. pandas (Python)
4. scipy (Python)

|Data Science Tools |
|---|
|Anaconda|
|R Studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
## Diego Salazar Jaque